/* add on styles to main */
.addon-muted-text{
    font-size: 13px;
    color: rgba(0,0,0,0.5);
    line-height: 100%;
}

.addon-flex-centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.addon-avatar{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 1em auto;
}

.addon-grid-right-weighted{
    display: grid;
    grid-template-columns: 15% 85%;
    place-content: start;
    margin: 10px auto;
}

.addon-card{
    background-color: rgba(250,250,250);
    border: 1px solid rgba(150,150,150,0.5);
    padding: 3em;
    border-radius: 1em;
}

.addon-container-card{
    padding: 3em;
}

.addon-card-header{
    font-weight: 800;
    font-size: 1.5em;
    margin: 10px 0;
}

.addon-card-title{
    font-weight: 500;
    font-size: 1em;
}

.addon-card-body{
    padding: 1em 0;
}

.addon-card-text{
    font-family: 300;
    color: rgba(50,50,50,0.8);
}

.addon-grid-right-weighted div{
    padding: 1em 0;
    margin-left: 1em;
}

.addon-grid-right-weighted img{
    margin-top: 1em;
}

.addon-container-card ul{
    list-style-type: square;
}
.addon-highlighted-text{
    color: seagreen;
}

.addon-rowgrp{
    font-style: italic;
    font-size: 110%;
    opacity: 50%;
    background-color: rgba(150,150,150,0.1);
}

.addon-table{
    font-size: 13px;
}

.addon-grid-3{
    display: grid;
    grid-template-columns: 25.00% 25.00% 25.00% 25.00%;
    padding: 10px;
}

.addon-grid-3 div{
    font-size: 15px !important;
}

.addon-grid-3 div img{
    width: 10em;
    margin: auto;
}

.addon-grid-3 div p{
    font-size: 13px !important;
}

.addon-form{
    padding: 3em 1em;
}

.addon-input{
    padding: 5px;
    color: inherit;
    margin: 1em auto;
    border: 1.5px solid #c0c0c0 !important;
    background-color: #fefefe !important;
}

.addon-hidden-wrapper{
    display: none;
}

.addon-input-error{
    border: 1.5px solid #ff5050;
}

.addon-input:focus{
        border: 1.5px solid black !important;
        background: rgba(150, 150, 150, 0.1) !important;
}

.addon-form span{
    display: flex;
    align-items: center;
}

.addon-form span span{
    margin-right: 10px;
}

.addon-grid-2{
    display: grid;
    grid-template-columns: 25% 75%;
}

.addon-smaller-text{
    font-size:  80%;
    opacity: 70%;
    color: #105fef;
    font-style: italic;

}

/* element based styles */
#workshop-card, #information-card, #faq-card, #register-card{
    background-color: rgba(150,150,150,0.15);
    border-radius: 10px;
}

#register-card{
    width: 80%;
    margin: auto;
}

#addon-register-btn{
    border-color: seagreen;
    color: seagreen;
}

#addon-register-btn:hover{
    border-color: #501fef;
    color: #501fef;
}

#newsletter{
    cursor: pointer;
    height: 20px;
    width: 20px;
}

#phone{
    -moz-appearance: textfield;
}

#phone::-webkit-outer-spin-button,
#phone::-webkit-inner-spin-button{
    margin: 0;
    -webkit-appearance: none;
}


@media screen and (max-width: 800px){
    .addon-grid-right-weighted{
        display: grid;
        grid-template-columns: 100%;
    } 

    .addon-grid-right-weighted div{
        margin-left: 0;
    }

    .addon-grid-3{ 
        grid-template-columns: 100%; 
    }

    .addon-fom{
        padding: 1em 0;
    }

    .addon-center-aligned-on-phone{
        text-align: center;
    }

    .addon-grid-2{
        grid-template-columns: 40% 60%;
    }

    #register-card{
        width: 100%;
    }
}
